<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {#  Allows each page title to be set using a variable named 'title' #}
        {% block title %}{{ title }}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-dark">
                <span class="navbar-text mb-0 h2">
                    A rain forecast blog
                </span>
                <div class="col-md-6">
                    <a class="btn btn-secondary" href="{{ url_for("main.index") }}"
                      role="button">Go to Home page
                    </a>
                    <a class="btn btn-secondary" href="{{ url_for("main.signup") }}"
                      role="button">Go to Sign up page
                    </a>
                    <a class="btn btn-secondary" href="{{ url_for("main.users") }}"
                      role="button">Registered Users
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>
<div role=main class="container-fluid">
    {# Displays flashed messages on a page #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {# Child pages add page specific content here #}
    {% block content %}
    {% endblock %}

</div>
</body>
</html>