<!-- Use the base template -->
{% extends "base.html" %}

<!-- Title for this page -->
{% block title %}Webpage for a rain forecast blog {% endblock %}

<!-- Content for this page -->
{% block content %}
    <div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-8">
            <h2>
                A description of rain forecasts
            </h2>
        </div>
        <div class="col-md-4">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Leo in vitae turpis massa sed elementum tempus egestas. Ut morbi tincidunt augue interdum velit euismod in. Suspendisse potenti nullam ac tortor vitae purus faucibus. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Sed tempus urna et pharetra pharetra massa massa ultricies. Elit scelerisque mauris pellentesque pulvinar pellentesque. Quis blandit turpis cursus in hac habitasse platea dictumst. Mi quis hendrerit dolor magna eget est. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Euismod nisi porta lorem mollis aliquam ut porttitor leo a. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Aliquet nec ullamcorper sit amet risus nullam eget. Aliquam id diam maecenas ultricies mi eget. Quis risus sed vulputate odio ut.

Facilisi cras fermentum odio eu feugiat pretium nibh. Elit sed vulputate mi sit amet mauris. Odio euismod lacinia at quis risus sed. Lobortis feugiat vivamus at augue eget arcu dictum varius. Aliquet sagittis id consectetur purus ut faucibus. Odio ut sem nulla pharetra diam sit amet. Natoque penatibus et magnis dis parturient montes. Potenti nullam ac tortor vitae purus faucibus. Nunc faucibus a pellentesque sit amet porttitor eget. Sit amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus. At auctor urna nunc id.</p>
        </div>
    </div>
</div>
{% endblock %}
